<div id="wrapper">

	<div class="logo"><a href="/"><h1>Symptom Checker</h1></a></div>
		
	<form class="form-wrapper" action="/results" method="post">
		<input type="text" id="search" placeholder="Search for..." required>
    <input type="submit" value="go" id="submit">
	</form>
		
	<footer id="footer">			
		<p class="copyright">Made by <a href="https://twitter.com/thekieran" target="_blank">@thekieran</a></p>				
	</footer> <!-- end footer -->
			
</div> <!-- End wrapper -->
