<div id="wrapper">

	<div class="logo"><a href="/"><h1>Symptom Checker</h1></a></div>
		
	<div class="results">
		<p>You're probably just tired and overreacting.</p>
	</div>
		
	<footer id="footer">			
		<p class="copyright">Made by <a href="https://twitter.com/thekieran" target="_blank">@thekieran</a></p>				
	</footer> <!-- end footer -->
			
</div> <!-- End wrapper -->
